<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/assets/icons/music-note-list.svg" alt="music note icon" style='width: 20px;'>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/assets/icons/search.svg" alt="search icon" style='width: 20px;'>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form>
                    <div class="form-group">
                        <label for="searchArtist"></label>
                        <input class="form-control" type="text" id="searchArtist" placeholder="Artist">
                        <label for="searchSong"></label>
                        <input class="form-control" type="text" id="searchSong" placeholder="Song">
                        <label for="searchAlbum"></label>
                        <input class="form-control" type="text" id="searchAlbum" placeholder="Album">
                        <label for="searchGenre"></label>
                        <select class="form-control" id="searchGenre">
                            <option>Pick a genre</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="Search">
                    <input type="button" class="btn btn-outline-secondary" value="Reset">
                </form>
            </div>
        </nav>
    </header>
    <section id="favoriteSongList" class="center">
    </section>
    <section id="filteredSongList" class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Artist</th>
                    <th scope="col">Song</th>
                    <th scope="col">Time</th>
                    <th scope="col">Album</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Genre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/main.js"></script>
</body>
</html>